<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr scope="col" class="text-capitalize">
                            <th>ID</th>
                            <th>Sender</th>
                            <th>Receiver</th>
                            <th>Total Amount</th>
                            <th>Total Paid Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let parent of parentList">
                            <th scope="row" class="text-link">
                                {{parent.id}}
                            </th>
                            <td>{{parent.sender}}</td>
                            <td>{{parent.receiver}}</td>
                            <td>{{parent.totalAmount}}</td>
                            <td><a class="text-blue" (click)="openChild(parent.id)">{{parent.totalPaidAmount||'N/A'}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <pagination [pageNumber]="pageNo" [pageSize]="pageSize"
                                    [numberOfElements]="parentList.length" [totalNumbers]="total"
                                    (changeEmitter)="onPageChange($event)"></pagination>
            </div>
        </div>
    </div>
</div>